@import reset


//Variables

$dark-color: #333333


//Links Mixin

=links ($link, $visited, $hover, $active)
  color: $link
  &:visited
    color: $visited
  &:hover
    color: $hover
  &:active, &:focus
    color: $active


//Main styles

a
  +links(#ccc, purple, yellow, teal)

body
  background: $dark-color
  min-height: 100%

html
  height: 100%

.about
  color: #000
  font-size: 50px

.hero
  background: #555
  height: 400px
  width: 100%

.logo
  width: 40px
  height: 40px

.section
  flex: 1 0 auto

.wrapper
  display: flex
  flex-direction: column
  margin: auto
  max-width: 1600px
  min-height: 100%
  min-width: 320px
  padding: 0 2%