@import reset


//Variables

$color-dark: #333333
$color-red: #E05151


//Links Mixin

=links ($c-link, $c-visited, $c-hover, $c-active)
  color: $c-link
  text-decoration: none
  border-bottom: 1px solid
  border-color: rgba( $c-link, .3 )
  &:visited
    color: $c-visited
    border-color: rgba( $c-visited, .3 )
  &:hover
    color: $c-hover
    border-color: rgba( $c-hover, .3 )
  &:active, &:focus
    color: $c-active
    border-color: rgba( $c-active, .3 )


//Main styles

a
  +links($color-red, purple, yellow, teal)

body
  font-size: 16px
  line-height: 1.15
  display: flex
  flex-direction: column
  min-height: 100vh

footer
  background: #eee
  flex-shrink: 0

header
  position: absolute

html
  height: 100%

nav
  padding: 16px 0 8px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: inline

      a
        border: 0

    li:last-child
      float: right

main
  display: flex
  flex-direction: row
  height: 100%

.item
  flex-grow: 1
  position: relative
  &:before
    content: ''
    float: left
    padding-top: 140%
  &:first-child
    flex-basis: 100%
    &:before
      padding-top: 38%
  &:after
    content: ''
    display: block
    position: absolute
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
    height: 100%
    width: 100%
    top: 0

.item-1
  background: url(../img/coursepad-cover.jpg)
  background-size: cover

.showcase
  flex-grow: 2
  display: flex
  flex-direction: row
  flex-wrap: wrap


.wrapper
  flex-grow: 1
